<div id="search-results">
  <h1>User search results:</h1>
  <div class="search-users">
    <% if users.nil? || users.empty? %>
      <div>No users found</div>
    <% else %>
      <% users.each do |user| %>
        <%= turbo_frame_tag id="#{dom_id user}_search", src: search_results_path(user_id: user.id), loading: :lazy, class: "search-user" do %>
          <span class="search-user-loader"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <h1>Community search results:</h1>
  <div class="search-communities">
    <% if communities.nil? || communities.empty? %>
      <div>No communities found</div>
    <% else %>
      <% communities.each do |community| %>
        <%= turbo_frame_tag id="#{dom_id community}_search", src: search_results_path(community_id: community.id), loading: :lazy, class: "search-community" do %>
          <span class="community-loader"></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>