<div id="login">
  <div id="login-info">
    <h1>facebook clone</h1>
    <p>Example logins:</p>
    <p>Email: a@a.cz <br>
    Password: aaaaaa</p>
    <p>Email: b@a.cz <br>
    Password: aaaaaa</p>
  </div>
  <%= turbo_frame_tag "login-form" do %>
    <%= render "devise/registrations/registration_form" %>
  <% end %>
</div>
