<div id="user-about">
  <div class="user-heading">About</div>
  <div class="user-details">
    <div>From a b</div>
    <div>Studies at xx</div>
    <div>12-12-1212</div>
    <div>Details</div>
  </div>
</div>