<%= turbo_frame_tag "friend-list" do %>
  <% current_user.friends.order(:first_name).each do |friend| %> 
    <%= link_to friend, class:"friend", id:"#{dom_id friend}_panel", data: { turbo_frame: "main" } do %>
      <%= image_tag friend.get_profile_picture %>
      <div><%= friend.name %></div>
    <% end %>
  <% end %>
<% end %>
