<div class="post" id="<%= dom_id post %>">
  <div class="post-info">
    <div class="user-pic">Pic</div>
    <div class="user-name">User Name</div>
    <div class="post-date">12. 12. 1212</div>
    <div class="post-edit">Edit</div>
  </div>
  <div class="post-body">
    <%= post.text %>
  </div>
  <div class="post-actions">
    <div class="post-likes-number">12 likes</div>
    <div class="post-comments-number">12 comments</div>
  </div>
  <div class="post-buttons">
    <div class="post-like-button">Like</div>
    <div class="post-comment-button">Comment</div>
    <div class="post-share-button">Share</div>
  </div>
  <div class="post-comments">
    <div class="post-new-comment">input for a new comment</div>
    <div class="post-comment">
      <div class="post-comment-user-pic">User Pic</div>
      <div class="post-comment-body">
        <div class="post-comment-user-name">User Name</div>
        <div class="post-comment-text">Comment text</div>
      </div>
      <div class="post-comment-edit">Edit</div>
      <div class="post-comment-actions">
        <div class="post-comment-like">Like</div>
        <div class="post-comment-reply">Reply</div>
        <div class="post-comment-created-at">12:12 12/12/1212</div>
      </div>
    </div>
  </div>
</div>
