<% post = Post.find(@id)%>
<div>Are you sure?</div>
<div class="buttons">
  <%= button_to "Delete", post_path(post), class: "button delete", method: :delete, data: { controller: "modal", action: "click->modal#hideModal" } %>
  <div class="button cancel" data-controller="modal" data-action="click->modal#hideModal">Cancel</div>
</div>