<div id="main-feed">
  <div id="new-post">
    <div class="user-pic"><%= show_svg("avatar.svg") %></div>
    <%= render 'posts/form'%>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>
