<div id="main-feed">
  <div id="new-post">
    <div class="user-pic"><%= image_tag current_user.get_profile_picture %></div>
    <%= render 'posts/form'%>
  </div>
  <div id="posts">
    <%= render @posts %>
  </div>
</div>
