/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --light-yellow: #f6fedb;
  --light-wheat: #d8d174;
  --dark-green: #91972a;

  --header-size: 40px;

  --post-color: #b6c454;
  --post-width: 460px;

  --comment-body-color: #dfdb96;

  --body-background-color: #aeab72;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: var(--header-size) calc(100vh - var(--header-size));
  grid-template-columns: 240px 1fr 240px;
  background-color: var(--body-background-color);
}

textarea {
  padding: 6px;
  border: 1x solid var(--dark-green);
  border-radius: 8px;
  background-color: var(--comment-body-color);
  width: 100%;
  min-height: 40px;
  max-height: 160px;
  height: 46px;
  resize: none;
}

input[type="submit"] {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.error {
  border: 2px solid rgb(175, 46, 46);
}

.hidden {
  display: none !important;
}

button {
  all: unset;
  cursor: pointer;
}
