/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  color: #1c1e21;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --light-yellow: #f6fedb;
  --light-wheat: #d8d174;
  --dark-green: #91972a;
  --like-background: #757927;
  --very-dark-green: #315811;
  --clicked-buttton: #184f09;
  --error-color: rgb(175, 46, 46);

  --button-color: #e4e6eb;
  --button-text-color: #1d1e24;
  --button-hover-color: rgba(0, 0, 0, 0.2);

  --like-color: #0570e7;

  --header-size: 40px;

  --post-color: #ffffff;
  --post-divider-color: #ced0d4;
  --post-border-color: #dfe0e3;
  --post-width: 460px;
  --clickable-text-color: #65676b;
  --shadow-color: #b3b3b3;

  --comment-body-color: #dfdb96;

  --hover-color: #4d4d4d2d;

  --basic-color: #f0f2f5;
  --default-text: rgb(41, 41, 41);

  --border-radius-color: rgb(122, 122, 122);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--basic-color);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: var(--header-size) calc(100vh - var(--header-size));
  grid-template-columns: 240px 1fr 240px;
}

textarea {
  padding: 6px;
  border: 1x solid var(--dark-green);
  border-radius: 8px;
  background-color: var(--basic-color);
  width: 100%;
  min-height: 40px;
  max-height: 160px;
  height: 46px;
  resize: none;
}

input,
button {
  all: unset;
}

input[type="submit"] {
  cursor: pointer;
  /* width: 30px;
  height: 30px; */
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--default-text);
}

#left-panel {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  overflow: auto;
}

.added {
  animation: generated 1s;
}

img {
  background-color: white;
}

@keyframes generated {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  25% {
    opacity: 1;
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
}

.error {
  border: 2px solid var(--error-color);
}

.hidden {
  display: none !important;
}

.clickable-text {
  cursor: pointer;
}

.button {
  user-select: none;
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--button-text-color);
  text-align: center;
  font-weight: 600;
  background-color: var(--button-color);
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--button-hover-color);
}

.button.active {
  background-color: var(--button-hover-color);
  border-bottom: 2px solid var(--like-color);
}

.delete {
  background-color: #da1717;
}

.delete:hover {
  background-color: #f00;
}

.buttons {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.dropdown {
  z-index: 9999;
  position: absolute;
  top: 40px;
  background-color: var(--basic-color);
  box-shadow: 0px 0px 20px var(--shadow-color);
  border-radius: 8px;
  display: grid;
  gap: 2px;
  padding: 8px;
  grid-auto-rows: 40px;
}

.dropdown > a,
.dropdown > div,
.dropdown > form > button {
  padding: 8px 12px;
  display: grid;
  grid-template-columns: 32px auto;
  transition: background-color 0.25s ease-in;
  border-radius: 8px;
}

.dropdown > a div,
.dropdown > div div,
.dropdown > form > button div {
  display: flex;
  align-items: center;
  width: 90px;
}

.dropdown > a svg,
.dropdown > div svg,
.dropdown > form > button svg {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 24px;
  width: 24px;
}

.dropdown > a:hover,
.dropdown > div:hover,
.dropdown > form > button:hover {
  background-color: rgba(0, 0, 0, 0.103);
  transition: none;
}
