#community-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--post-width);
  min-height: 260px;
  background-color: var(--post-color);
  border-radius: 8px;
  border: 1px solid var(--post-border-color);
  padding: 12px;
}

.community-carousel-show {
  background-color: var(--basic-color);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  gap: 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.community-carousel-item {
  border-radius: 8px;
  padding: 4px;
  width: 240px;
  height: 100%;
  background-color: var(--post-color);
  display: grid;
  grid-template-rows: 160px 40px;
  justify-content: center;
  align-content: center;
}

.community-carousel-item:first-child {
  margin-left: 8px;
}

.community-carousel-item:last-child {
  margin-right: 8px;
}

.community-carousel-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.community-carousel-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

/* COMMUNITY/SHOW */
#community-basic {
  background-color: var(--post-color);
  border-radius: 8px;
  box-shadow: 0 1px 2px var(--shadow-color);
  max-width: 900px;
  overflow: hidden;
  min-height: 420px;
}

#community-instant {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 32px 32px;
  align-items: center;
}

#community-name {
  font-size: 22px;
  font-weight: 600;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 8px;
  align-self: flex-end;
}

#community-details {
  display: flex;
  align-items: center;
  padding-left: 8px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 4px;
  align-self: flex-start;
  font-size: 14px;
}

#community-member-count {
  font-weight: 500;
}

#community-actions {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#community-background {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 360px;
  overflow: hidden;
}

#community-background img {
  max-height: 100%;
  max-width: 100%;
}

input[type="radio"] {
  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
}

input[type="radio"]:checked {
  background-color: var(--like-color);
}

/* COMMUNITY/SHOW/MEMBERBOARD */

#memberboard {
  width: 100%;
  height: 100%;
}

#member-requests,
#member-list {
  display: grid;
  grid-auto-rows: 40px;
  width: 100%;
  overflow: scroll;
  max-height: 240px;
}

.member-request {
  display: grid;
  gap: 4px;
  align-items: center;
}

.member-request {
  grid-template-columns: 30px 30px 1fr;
}

.member-request > form,
.member-request > form > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-request > form {
  padding: 2px;
}

.member-request > * {
  border-radius: 8px;
  transition: 0.25s background-color ease-in;
}

.member-request > *:hover {
  background-color: rgba(0, 0, 0, 0.103);
  transition: none;
}

.member-details {
  display: grid;
  gap: 4px;
  grid-template-columns: 40px 1fr;
  height: 40px;
  align-items: center;
  font-size: 18px;
  padding: 2px;
}

.member-details img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--border-radius-color);
}

/* INVITE LIST */

#invite-list {
  width: 100%;
  max-height: 420px;
  overflow: auto;
}

.invite-received:hover {
  background-color: transparent;
}

.invite button:disabled {
  cursor: default;
  background-color: #b3b1b1;
  border-radius: 8px;
}

.invite svg {
  width: 32px;
  height: 32px;
}
