header {
  background-color: var(--post-color);
  grid-row: 1;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px;
  box-shadow: 0 1px 2px var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
}

.active {
  position: relative;
}

.active::after {
  background-color: var(--like-color);
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0;
  content: "";
  animation: slideactive 0.2s ease-out;
}

@keyframes slideactive {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
}
#header-left-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-logo {
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo svg {
  width: 40px;
  height: 40px;
  fill: var(--like-color);
}

/* #header-middle-options {
} */

#header-middle-options svg {
  width: 32px;
  height: 32px;
  margin: 0 24px;
}

#header-middle-options a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.25s ease-in;
}

#header-middle-options a:hover {
  background-color: var(--hover-color);
  transition: none;
}

#header-right-options {
  position: relative;
  justify-content: right;
  padding-right: 16px;
}

#header-right-options > div {
  cursor: pointer;
}

#header-right-options > div > svg {
  background-color: var(--button-color);
  transition: background-color 0.25s ease-in;
}

#header-right-options > div > svg:hover {
  background-color: var(--hover-color);
}

#header-right-options > div > svg,
#header-right-options > div > img {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid white;
  pointer-events: none;
}

#header-right-notifications-dropdown {
  right: 50px;
  width: 240px;

  z-index: 9999;
  position: absolute;
  top: 40px;
  background-color: var(--basic-color);
  box-shadow: 0px 0px 20px var(--shadow-color);
  border-radius: 8px;
  display: grid;
  grid-auto-rows: 90px;
  gap: 2px;
  padding: 8px;
  max-height: 400px;
  overflow: auto;
}

.notification {
  display: grid;
  grid-template-rows: 30px auto;
  grid-template-columns: auto 30px;
  background-color: var(--post-color);
  border-radius: 8px;
  padding: 8px;
  cursor: default;
}

.notification-message {
  grid-column: 1 / 3;
  cursor: pointer;
  transition: background-color 0.25s ease-in;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding: 4px;
}

.notification-message:hover {
  background-color: rgba(0, 0, 0, 0.103);
  transition: none;
}

.notification-time {
  align-self: center;
}

.notification-delete {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

.notification-delete,
.notification-delete svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-delete svg {
  pointer-events: none;
}

.notification-delete:hover {
  background-color: rgb(255, 32, 32);
}

#header-right-messages-dropdown {
  right: 75px;
  width: 320px;
}

#search-form > form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 16px;
  padding: 2px 4px;
  background-color: var(--basic-color);
}

#search-form input {
  /* color: white; */
  padding: 2px 8px;
  font-size: 1.1em;
}

#search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form svg {
  width: 1.3em;
  height: 1.3em;
}

#search-form svg > line,
#search-form svg > path {
  stroke: var(--default-text) !important;
}
