header {
  background-color: var(--post-color);
  grid-row: 1;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px;
  box-shadow: 0 1px 2px var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
}
#header-left-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-logo {
  padding-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo svg {
  width: 40px;
  height: 40px;
  fill: var(--like-color);
}

/* #header-middle-options {
} */

#header-middle-options svg {
  width: 32px;
  height: 32px;
  margin: 0 24px;
}

#header-middle-options a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: background-color 0.25s ease-in;
}

#header-middle-options a:hover {
  background-color: var(--hover-color);
  transition: none;
}

#header-right-options {
  position: relative;
  justify-content: right;
  padding-right: 16px;
}

#header-right-options > div {
  cursor: pointer;
}

#header-right-options > div > svg {
  background-color: var(--button-color);
  transition: background-color 0.25s ease-in;
}

#header-right-options > div > svg:hover {
  background-color: var(--hover-color);
}

#header-right-options > div > svg,
#header-right-options > div > img {
  width: 34px;
  height: 34px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid white;
}

#search-form > form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 16px;
  padding: 2px 4px;
  background-color: var(--basic-color);
}

#search-form input {
  /* color: white; */
  padding: 2px 8px;
  font-size: 1.1em;
}

#search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-form svg {
  width: 1.3em;
  height: 1.3em;
}

#search-form svg > line,
#search-form svg > path {
  stroke: var(--default-text) !important;
}
