header {
  background-color: rgb(26, 182, 33);
  grid-row: 1;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* position: sticky;
  top: 0;
  z-index: 999; */
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#header-logo {
  padding-left: 8px;
  justify-content: flex-start;
}

#header-logo svg {
  width: 40px;
  height: 40px;
  fill: var(--dark-green);
}

/* #header-middle-options {
} */

#header-right-options {
  justify-content: right;
  padding-right: 16px;
}
/* 


<div id="header-logo"></div>
  
<div id="header-middle-options">
  <div id="header-middle-posts">Home</div>
  <div id="header-middle-communities">Communities</div>
</div>

<div id="header-right-options">
  <div id="header-right-messages">Messages</div>
  <div id="header-right-notifications">Notifications</div>
  <div id="header-right-profile">Profile</div>
</div> */
