#main-feed {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

#posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.post {
  width: var(--post-width);
  background-color: bisque;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.post > * {
  border: 1px solid lightgrey;
}

.post-info > * {
  border: 1px solid lightgrey;
}

.post-actions > * {
  border: 1px solid lightgrey;
}

.post-comments > * {
  border: 1px solid lightgrey;
}

.post-buttons > * {
  border: 1px solid lightgrey;
}

.post-comment > * {
  border: 1px solid lightgrey;
}

.post-comment-body > * {
  border: 1px solid lightgrey;
}

.post-comment-actions > * {
  border: 1px solid lightgrey;
}

.post-info {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: 20px 20px;
}

.post-info > .user-pic {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-info > .user-name {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.post-info > .post-date {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.post-info > .post-edit {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body {
  min-height: 48px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 
.post-actions > .post-likes-number {
}
.post-actions > .post-comments-number {
} */

.post-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* 
.post-buttons > .post-like-button {
}
.post-buttons > .post-comment-button {
}
.post-buttons > .post-share-button {
}

.post-comments {
} */

#new-post {
  width: var(--post-width);
  display: grid;
  grid-template-columns: 40px 1fr;
}

#new-post > form {
  display: flex;
}

.post-comments > #new-comment {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.post-comments > #new-comment > form {
  display: flex;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 240px;
  overflow: auto;
}

.comment {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  grid-template-rows: auto 20px auto auto;
}

.comment-comments {
  padding-left: 16px;
}

.comment-user-pic {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.comment-body {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
/* 
.comment-user-name {
}

.comment-text {
} */

.comment-edit {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.comment-actions {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  gap: 8px;
}
/* 
.comment-like {
}

.comment-reply {
}

.comment-created-at {
} */

.new-comment-comment {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.comment-comments {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}
