<% community = Community.find(@id) %>
      <%# accept member/invite user unless public %>
<div id="memberboard" data-controller="modal">

  <%= render partial: "communities/member_requests", locals: { community: community } %>
  <% unless community.pending_requests.empty? %>
    <hr>
  <% end %>
        <%# remove member %>
  <%= render partial: "communities/member_list", locals: { community: community } %>
</div>