<%= turbo_frame_tag "main" do %>
  <div id="main-feed">
    <% if current_user.member_of?(@community) %>
      <div id="new-post">
        <div class="user-pic"><%= image_tag current_user.get_profile_picture %></div>
        <%= render 'communities/post_form'%>
      </div>
    <% end %>

    <div id="posts">
      <%= render current_user.community_posts %>
    </div>
  </div>
<% end %>