<div id="friend-requests">
  <% current_user.friend_requests.each do |friend_request| %>
    <%= turbo_frame_tag dom_id(friend_request), class: "friend-request" do %>
      <%= button_to "Accept", friendship_path(friend_request), method: :patch %>
      <%= friend_request.user.name %>
    <% end %>
  <% end %>
</div>

<%# <div class="friend">
  <div class="pic">Pic</div>
  <div class="name">Name</div>
</div> %>
