<header>
  <div id="header-logo">Logo</div>
  
  <div id="header-middle-options">
    <div id="header-middle-posts">Home</div>
    <div id="header-middle-communities">Communities</div>
  </div>

  <div id="header-right-options">
    <div id="header-right-messages">Messages</div>
    <div id="header-right-notifications">Notifications</div>
    <div id="header-right-profile">Profile</div>
  </div>
</header>