<div class="hidden" id="modal-background">
  <div id="modal-box">
    <%= turbo_frame_tag id="modal-content" do %>
      <div class="spinner-background">
        <div class="lds-dual-ring"></div>
      </div>
    <% end %>
  </div>
</div>